name: Build Fmcl For Linux

on:
  push:
    branches:
      - main
    paths:
      - 'xmcl-runtime/**'
      - 'xmcl-runtime-api/**'
      - 'xmcl-keystone-ui/**'
      - 'xmcl-electron-app/**'
      - 'package.json'
      - '.github/**'     
      
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 8.3.0
    - name: Fix node-gyp and Python
      run: python3 -m pip install packaging setuptools
    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: 16
        cache: 'pnpm'

    - name: Install
      run: pnpm install

    - name: Build all
      run: |
        pnpm run --prefix xmcl-keystone-ui build
        pnpm run --prefix xmcl-electron-app build:all
      env:
        BUILD_NUMBER: ${{ secrets.FMCL_VERSION }}
        NODE_OPTIONS: --max-old-space-size=32768
        NODE_ENV: production
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_TOKEN }}
        
    - name: FMCL-x64-Upload-Deb
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-LINUX-x64-v${{ secrets.FMCL_VERSION }}-Deb
        path: src\output\fmcl-${{ secrets.FMCL_VERSION }}-amd64.deb
      
    - name: FMCL-x32-Upload-Deb
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-LINUX-x32-v${{ secrets.FMCL_VERSION }}-Deb
        path: src\output\fmcl-${{ secrets.FMCL_VERSION }}-arm64.deb
        
    - name: FMCL-x64-Upload-Zip
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-LINUX-x64-v${{ secrets.FMCL_VERSION }}-Zip
        path: src\output\xmcl-electron-app/build/output/fmcl-${{ secrets.FMCL_VERSION }}-x64.tar.xz
      
    - name: FMCL-x32-Upload-Zip
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-LINUX-x32-v${{ secrets.FMCL_VERSION }}-Zip
        path: src\output\xmcl-electron-app/build/output/fmcl-${{ secrets.FMCL_VERSION }}-arm64.tar.xz