name: Build Fmcl For Windows

on:
  push:
    branches:
      - main
    paths:
      - 'xmcl-runtime/**'
      - 'xmcl-runtime-api/**'
      - 'xmcl-keystone-ui/**'
      - 'xmcl-electron-app/**'
      - 'package.json'
  workflow_dispatch:
  
jobs:

  fmcl-build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 8.3.0
    - name: Fix node-gyp and Python
      run: python3 -m pip install packaging setuptools
    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: 16
        cache: 'pnpm'
        
    - name: Install
      run: pnpm install

    - name: Build all
      run: |
        pnpm run --prefix xmcl-keystone-ui build
        pnpm run --prefix xmcl-electron-app build:all
      env:
        BUILD_NUMBER: ${{ secrets.FMCL_VERSION }}
        NODE_OPTIONS: --max-old-space-size=32768
        NODE_ENV: production
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_TOKEN }}
      
    - name: Unzip Build
      run: unzip xmcl-electron-app\build\output\fmcl-${{ secrets.FMCL_VERSION }}-win32-x64.zip

    - name: Fmcl-build-installer
      uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
      with:
        path: src/flamelauncher-build-x64.iss
        options: /O+

    - name: FMCL-x64-Upload-App
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-WINDOWS-x64-v${{ secrets.FMCL_VERSION }}-App
        path: src\output\Flame-Launcher.-v${{ secrets.FMCL_VERSION }}.-setup-x64

    - name: FMCL-x64-Upload-Archive
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-WINDOWS-x64-v${{ secrets.FMCL_VERSION }}-Zip
        path: xmcl-electron-app\build\output\fmcl-${{ secrets.FMCL_VERSION }}-win32-x64.zip
      
    - name: FMCL-x32-Upload-Archive
      uses: actions/upload-artifact@v3
      with:
        name: FMCL-WINDOWS-x32-v${{ secrets.FMCL_VERSION }}-Zip
        path: xmcl-electron-app\build\output\fmcl-${{ secrets.FMCL_VERSION }}-win32-ia32.zip
    
    
    - name: Create Github Release
      id: create-new-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ secrets.FMCL_VERSION }}
        release_name: v${{ secrets.FMCL_VERSION }}
    
    - name: FMCL-x64-Upload to Github 
      id: upload-release-x64
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-new-release.outputs.upload_url }}
        asset_path: xmcl-electron-app\build\output\fmcl-${{ secrets.FMCL_VERSION }}-win32-x64.zip
        asset_name: fmcl-${{ secrets.FMCL_VERSION }}-win32-x64.zip
        asset_content_type: application/zip
    
    
    - name: FMCL-x32-Upload to Github 
      id: upload-release-x32
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-new-release.outputs.upload_url }}
        asset_path: xmcl-electron-app\build\output\fmcl-${{ secrets.FMCL_VERSION }}-win32-ia32.zip
        asset_name: fmcl-${{ secrets.FMCL_VERSION }}-win32-ia32.zip
        asset_content_type: application/zip
    
